# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build-Task1-Desktop_Qt_6_6_2_GCC_64bit-Debug/

build-Task1-Desktop_Qt_6_6_2_GCC_64bit-Debug

build-Task1-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/
build-Task1-Desktop_Qt_6_4_1_MinGW_64_bit-Debug
Task1/Task1.pro
Task1/Task1.pro
*.pro
Task1/Task1.pro.user.3a31834
Task1/.vscode/settings.json

